

.container{
    max-width: 1400px;
    margin: auto;
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .selected{
    background-color: #334761;
  }
  
  .logo{
    height: 100px;
  }
  
  header ul{ 
    list-style: none;
    display: flex;
  }
  
  header li a{
    display: block;
    padding: 10px 50px;
    color: white;
    text-decoration: none;
  }
  
  header, footer {
    background-color: #D98555;
  }
 
  footer p{
   color: white;
  }
 
  .contentOverview{
   justify-content: center;
   font-size: 25px;
   margin: 100px;
   padding-top: 60px;
   padding-bottom: 0px;
   padding-left: 100px;
   padding-right: 100px;
  }
 
 
 .contentContainer{
     display: flex;
     gap: 20px;
     flex-direction: row;
     justify-content:center;
     padding-top: none;
     padding-bottom: 200px;
     margin-left: 100px;
     margin-right: 100px;
  }
 
  .containerOP{
     background-color:#334761;
     border-radius: 0px;
     width: 100%;
     padding: none;
     padding-top: 30px;
     padding-bottom: 30px;
  }
 
  .cardImg{
     width: 100%;
     height: 200px;
     object-fit: cover;
  }
 
  .containerOP h2 {
     margin: 10px 20px;
     font-size: 20px;
     color: white;
  } 
 
  .containerOP p{
     margin: 10px 20px;
     font-size: 15px;
     color: white;
  }
 
  .media img{
    height: 32px;
  }
 
 .view{
     background-image: url(https://assets.codepen.io/6306176/gulp-couple-talking.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     display: flex;
     align-items: center;
     justify-content:baseline;
     align-content: center;
 }
 
 .view h1{
   margin: 200px;
   padding-left: 650px;
   color: white;
 }